<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <log4net debug="false">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <file value="E:\Site-Logs\Log-IRAPI-%env{COMPUTERNAME}-" xdt:Transform="SetAttributes(value)"/>
    </appender>
    <root>
      <level value="INFO" xdt:Transform="SetAttributes(value)" />
    </root>
  </log4net>

  <ConfiguracaoAdyen>
    <Chaves>
      <Teste Valor="false" xdt:Transform="SetAttributes(Valor)" />
    </Chaves>
  </ConfiguracaoAdyen>

  <connectionStrings>

    <add name="IRCoreEntitiesSite" connectionString="metadata=res://*/ModelSite.csdl|res://*/ModelSite.ssdl|res://*/ModelSite.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IRLISTENER;initial catalog=SITEIR;uid=producao;pwd=RN9zs67N!;timeout=600;persist security info=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

    <add name="IRCoreEntitiesIngresso" connectionString="metadata=res://*/ModelIngresso.csdl|res://*/ModelIngresso.ssdl|res://*/ModelIngresso.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IRLISTENER;initial catalog=INGRESSOSNOVO;uid=producao;pwd=RN9zs67N!;timeout=600;persist security info=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

    <add name="strConn" connectionString="Integrated Security=false;server=IRLISTENER;database=SITEIR;uid=producao;pwd=RN9zs67N!;timeout=600;Max Pool Size=5000" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>


  </connectionStrings>

  <appSettings configSource="AppSettings.production.config" xdt:Transform="SetAttributes(configSource)"/>

  <system.web>

    <compilation xdt:Transform="RemoveAttributes(debug)" />

  </system.web>

  <system.serviceModel>
    <client>
      <endpoint address="http://www.ingressorapido.com.br/services/IRServices/MailService.asmx" xdt:Transform="SetAttributes(address)" bindingConfiguration="MailServiceSoap" xdt:Locator="Match(bindingConfiguration)" />
      <endpoint address="http://www.ingressorapido.com.br/services/irservices/ConfigService.asmx" xdt:Transform="SetAttributes(address)" bindingConfiguration="ConfigServiceSoap" xdt:Locator="Match(bindingConfiguration)" />
      <endpoint address="http://www.ingressorapido.com.br/Services/wcf/ETicketService.svc" xdt:Transform="SetAttributes(address)" bindingConfiguration="BasicHttpBinding_IETicketService" xdt:Locator="Match(bindingConfiguration)" />
    </client>
  </system.serviceModel>

</configuration>